// Import font files
@font-face {
    font-family: 'Glass_TTY_VT220';
    src: url('./Glass_TTY_VT220.woff2') format('woff2'),
         url('./Glass_TTY_VT220.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Variables
$terminal: Glass_TTY_VT220;
$p1phosphor: #41FF00;

// Global
* {
    background-color: black;
    font-family: $terminal;
    color: $p1phosphor;
    font-size: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

// Header
.header {
    display: flex;
    justify-content: center;
    
    &__heading {
        font-family: $terminal;
        font-size: 32px;
    }
}

// Input/Output
.io {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    
    &__input {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        height: 300px;
        width: 500px;

        &__heading {
            font-family: $terminal;
            margin: 0 0 5px 0;
        }

        &__textarea {
            font-size: 20px;
            height: 100%;
            padding: 5px;
        }
    }

    &__output {
        border: 1px solid white;
        font-family: $terminal;
        font-size: 20px;
        height: 290px;
        width: 490px;
        padding: 5px;
        
        &__heading {
            font-family: $terminal;
            margin: 5px 0 5px 0;
        }
    }
}